# Python
*.pyc
__pycache__/
*.sqlite3
*.db
*.log
*.pyo
*.pyd
*.coverage
*.cover
*.hypothesis/
*.tox
*.pytest_cache
*.mypy_cache
*.coverage.*

# Virtual environment
venv/
.venv/

# Env files
.env
*.env

# Egg
*.egg-info/
*.egg

# macOS
*.DS_Store

# Node.js
node_modules/
