#/home/theo/projects/linux_version/env.example

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True                 # False στο production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123
# STATIC/MEDIA roots (πρέπει να ταιριάζουν με volumes & settings.py)
STATIC_ROOT=/vol/static
MEDIA_ROOT=/vol/media

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:18000/api

# OAuth Authentication
GOOGLE_CLIENT_ID=65567378153-gtuusp2tm9ebcpuo3lge0vt2ia6erlq9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
MICROSOFT_CLIENT_ID=your-microsoft-client-id
MICROSOFT_CLIENT_SECRET=your-microsoft-client-secret
