[flake8]
max-line-length = 127
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    ENV,
    env.bak,
    venv.bak,
    .mypy_cache,
    .pytest_cache,
    .ruff_cache,
    .tox,
    build,
    dist
